**PERAMALAN JUMLAH PENUMPANG PESAWAT**

Ketua Kelompok

NIM : 200411100078

Nama : Muhammad Hanif Santoso

Anggota Kelompok

NIM : 200411100084

Nama : Normalita Eka Ariyanti

Github Ketua : https://github.com/HanifSantoso05/kolaborasipro/tree/main

**1. Import Data**

In [7]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /home/ubuntu/.local/lib/python3.8/site-packages (1.2.2)
Requirement already satisfied: scipy>=1.3.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.10.1)
Requirement already satisfied: joblib>=1.1.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (3.1.0)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install pandas

Requirement already satisfied: pandas in /home/ubuntu/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (1.24.3)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv')
df

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [10]:
passengers = df['Passengers'].values
passengers

array([112, 118, 132, 129, 121, 135, 148, 148, 136, 119, 104, 118, 115,
       126, 141, 135, 125, 149, 170, 170, 158, 133, 114, 140, 145, 150,
       178, 163, 172, 178, 199, 199, 184, 162, 146, 166, 171, 180, 193,
       181, 183, 218, 230, 242, 209, 191, 172, 194, 196, 196, 236, 235,
       229, 243, 264, 272, 237, 211, 180, 201, 204, 188, 235, 227, 234,
       264, 302, 293, 259, 229, 203, 229, 242, 233, 267, 269, 270, 315,
       364, 347, 312, 274, 237, 278, 284, 277, 317, 313, 318, 374, 413,
       405, 355, 306, 271, 306, 315, 301, 356, 348, 355, 422, 465, 467,
       404, 347, 305, 336, 340, 318, 362, 348, 363, 435, 491, 505, 404,
       359, 310, 337, 360, 342, 406, 396, 420, 472, 548, 559, 463, 407,
       362, 405, 417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390,
       432])

**2. Univariate Transform**

In [11]:
# transform univariate time series to supervised learning problem
from numpy import array
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

# # define univariate time series
# series = array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# transform to a supervised learning problem
X, y = split_sequence(passengers, 3)
print(X.shape, y.shape)
shapeX = X.shape

dfX = pd.DataFrame(X)
dfy = pd.DataFrame(y, columns=["Xt"])

df = pd.concat((dfX, dfy), axis = 1)
df

(141, 3) (141,)

       0    1    2   Xt
0    112  118  132  129
1    118  132  129  121
2    132  129  121  135
3    129  121  135  148
4    121  135  148  148
..   ...  ...  ...  ...
136  472  535  622  606
137  535  622  606  508
138  622  606  508  461
139  606  508  461  390
140  508  461  390  432

[141 rows x 4 columns]

**3. Normalisasi Min Max Scaler**

In [12]:
from sklearn.preprocessing import MinMaxScaler
import joblib

scaler = MinMaxScaler()
#scaler.fit(features)
#scaler.transform(features)
scaledX = scaler.fit_transform(dfX)
scaledY = scaler.fit_transform(dfy)
features_namesX = dfX.columns.copy()
features_namesy = dfy.columns.copy()
#features_names.remove('label')
scaled_featuresX = pd.DataFrame(scaledX, columns=features_namesX)
scaled_featuresY = pd.DataFrame(scaledY, columns=features_namesy)

**4. Splitting Data**

In [13]:
from sklearn.model_selection import train_test_split
training, test = train_test_split(scaled_featuresX,test_size=0.2, random_state=0,shuffle=False)#Nilai X training dan Nilai X testing
training_label, test_label = train_test_split(scaled_featuresY, test_size=0.2, random_state=0,shuffle=False)#Nilai Y training dan Nilai Y testing

**5. Permodelan KNN**

In [14]:
from sklearn import neighbors
regresor = neighbors.KNeighborsRegressor(n_neighbors = 5)
regresor.fit(training, training_label)

KNeighborsRegressor()

**6. Prediksi**

In [15]:
pred_test = regresor.predict(test)
pred_test

array([[0.64169884],
       [0.596139  ],
       [0.46216216],
       [0.4034749 ],
       [0.42046332],
       [0.47335907],
       [0.47915058],
       [0.53050193],
       [0.65559846],
       [0.6019305 ],
       [0.603861  ],
       [0.64169884],
       [0.596139  ],
       [0.596139  ],
       [0.46216216],
       [0.46216216],
       [0.41081081],
       [0.59150579],
       [0.64208494],
       [0.47413127],
       [0.603861  ],
       [0.64169884],
       [0.596139  ],
       [0.596139  ],
       [0.596139  ],
       [0.52432432],
       [0.50540541],
       [0.46216216],
       [0.46216216]])

**7. Menampilkan Data Actual dan Data Prediksi**

In [16]:
# Mengembalikan data ke dalam format biasa
denormalized_data_test = pd.DataFrame(scaler.inverse_transform(test_label),columns=["Testing Data"])
denormalized_data_preds = pd.DataFrame(scaler.inverse_transform(pred_test),columns=["Predict Data"])
df_hasil = pd.concat([denormalized_data_test, denormalized_data_preds],axis=1)
df_hasil

    Testing Data  Predict Data
0          505.0         436.4
1          404.0         412.8
2          359.0         343.4
3          310.0         313.0
4          337.0         321.8
5          360.0         349.2
6          342.0         352.2
7          406.0         378.8
8          396.0         443.6
9          420.0         415.8
10         472.0         416.8
11         548.0         436.4
12         559.0         412.8
13         463.0         412.8
14         407.0         343.4
15         362.0         343.4
16         405.0         316.8
17         417.0         410.4
18         391.0         436.6
19         419.0         349.6
20         461.0         416.8
21         472.0         436.4
22         535.0         412.8
23         622.0         412.8
24         606.0         412.8
25         508.0         375.6
26         461.0         365.8
27         390.0         343.4
28         432.0         343.4

**8. Evaluasi Model dengan MAPE dan MSE**

In [17]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_percentage_error
from math import sqrt
MSE = mean_squared_error(test_label,pred_test)
MAPE = mean_absolute_percentage_error(denormalized_data_test, denormalized_data_preds)
print("MSE :",MSE)
print("MAPE :",MAPE)

MSE : 0.026071835953343083
MAPE : 0.13012160470400755