**PERAMALAN JUMLAH PENUMPANG PESAWAT**

Ketua Kelompok

NIM : 200411100078

Nama : Muhammad Hanif Santoso

Anggota Kelompok

NIM : 200411100084

Nama : Normalita Eka Ariyanti

Github Ketua : https://github.com/HanifSantoso05/kolaborasipro/tree/main

**1. Import Data**

In [5]:
pip install scikit-learn

Collecting scikit-learn
  Downloading scikit_learn-1.2.2-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (9.8 MB)
     |████████████████████████████████| 9.8 MB 7.8 MB/s eta 0:00:01                            | 798 kB 7.8 MB/s eta 0:00:020:00:01
Requirement already satisfied: numpy>=1.17.3 in /home/ubuntu/.local/lib/python3.8/site-packages (from scikit-learn) (1.24.3)
Collecting joblib>=1.1.1
  Downloading joblib-1.2.0-py3-none-any.whl (297 kB)
     |████████████████████████████████| 297 kB 41.9 MB/s eta 0:00:01
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Collecting scipy>=1.3.2
  Downloading scipy-1.10.1-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (34.5 MB)
     |████████████████████████████████| 34.5 MB 93.3 MB/s eta 0:00:01█▌                             | 2.7 MB 93.3 MB/s eta 0:00:01     |████████████████████████████▎   | 30.5 MB 93.3 MB/s eta 0:00:01
Installing collected packages: joblib, threadpoolctl, scipy, scikit-learn
Successfully installed joblib-1.2.0 scikit-learn-1.2.2 scipy-1.10.1 threadpoolctl-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install pandas

Requirement already satisfied: pandas in /home/ubuntu/.local/lib/python3.8/site-packages (2.0.2)
Requirement already satisfied: numpy>=1.20.3; python_version < "3.10" in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (1.24.3)
Requirement already satisfied: tzdata>=2022.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ubuntu/.local/lib/python3.8/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/airline-passengers.csv')
df

       Month  Passengers
0    1949-01         112
1    1949-02         118
2    1949-03         132
3    1949-04         129
4    1949-05         121
..       ...         ...
139  1960-08         606
140  1960-09         508
141  1960-10         461
142  1960-11         390
143  1960-12         432

[144 rows x 2 columns]

In [2]:
passengers = df['Passengers'].values
passengers

array([112, 118, 132, 129, 121, 135, 148, 148, 136, 119, 104, 118, 115,
       126, 141, 135, 125, 149, 170, 170, 158, 133, 114, 140, 145, 150,
       178, 163, 172, 178, 199, 199, 184, 162, 146, 166, 171, 180, 193,
       181, 183, 218, 230, 242, 209, 191, 172, 194, 196, 196, 236, 235,
       229, 243, 264, 272, 237, 211, 180, 201, 204, 188, 235, 227, 234,
       264, 302, 293, 259, 229, 203, 229, 242, 233, 267, 269, 270, 315,
       364, 347, 312, 274, 237, 278, 284, 277, 317, 313, 318, 374, 413,
       405, 355, 306, 271, 306, 315, 301, 356, 348, 355, 422, 465, 467,
       404, 347, 305, 336, 340, 318, 362, 348, 363, 435, 491, 505, 404,
       359, 310, 337, 360, 342, 406, 396, 420, 472, 548, 559, 463, 407,
       362, 405, 417, 391, 419, 461, 472, 535, 622, 606, 508, 461, 390,
       432])

**2. Univariate Transform**

In [3]:
# transform univariate time series to supervised learning problem
from numpy import array
# split a univariate sequence into samples
def split_sequence(sequence, n_steps):
  X, y = list(), list()
  for i in range(len(sequence)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the sequence
    if end_ix > len(sequence)-1:
      break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequence[i:end_ix], sequence[end_ix]
    X.append(seq_x)
    y.append(seq_y)
  return array(X), array(y)

# # define univariate time series
# series = array([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

# transform to a supervised learning problem
X, y = split_sequence(passengers, 3)
print(X.shape, y.shape)
shapeX = X.shape

dfX = pd.DataFrame(X)
dfy = pd.DataFrame(y, columns=["Xt"])

df = pd.concat((dfX, dfy), axis = 1)
df

(141, 3) (141,)

       0    1    2   Xt
0    112  118  132  129
1    118  132  129  121
2    132  129  121  135
3    129  121  135  148
4    121  135  148  148
..   ...  ...  ...  ...
136  472  535  622  606
137  535  622  606  508
138  622  606  508  461
139  606  508  461  390
140  508  461  390  432

[141 rows x 4 columns]

**3. Normalisasi Min Max Scaler**

In [7]:
from sklearn.preprocessing import MinMaxScaler
import joblib

scaler = MinMaxScaler()
#scaler.fit(features)
#scaler.transform(features)
scaledX = scaler.fit_transform(dfX)
scaledY = scaler.fit_transform(dfy)
features_namesX = dfX.columns.copy()
features_namesy = dfy.columns.copy()
#features_names.remove('label')
scaled_featuresX = pd.DataFrame(scaledX, columns=features_namesX)
scaled_featuresY = pd.DataFrame(scaledY, columns=features_namesy)

**4. Splitting Data**

In [8]:
from sklearn.model_selection import train_test_split
training, test = train_test_split(scaled_featuresX,test_size=0.2, random_state=0,shuffle=False)#Nilai X training dan Nilai X testing
training_label, test_label = train_test_split(scaled_featuresY, test_size=0.2, random_state=0,shuffle=False)#Nilai Y training dan Nilai Y testing

**5. Permodelan KNN**

In [9]:
from sklearn import neighbors
regresor = neighbors.KNeighborsRegressor(n_neighbors = 5)
regresor.fit(training, training_label)

KNeighborsRegressor()

**6. Prediksi**

**7. Menampilkan Data Actual dan Data Prediksi**

**8. Evaluasi Model dengan MAPE dan MSE**